<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%extends 'base.html' %}
    {%load crispy_forms_tags %}
    {%block content%}
        <div class="container">
            <form action="", method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit", value="Login", class='btn btn-info'>
                <p><a href="{% url 'password_reset' %}">Forgotten password?</a></p>
                <p>Don't have an account<a href="{% url 'signup' %}">Sign up here</a></p>
            </form>
        </div>
    {%endblock content%}
</body>
</html>