<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>  
    {%extends 'base.html'%}
    
    {%block content%}
    
    {% for post in object_list %}

    <div class="card text-center">
        <div class="card-header">
            <h2><a href='{% url "post_detail" post.pk %}'>{{post.title}}</a></h2>
        </div>
        <div class="card-body">
            <p class='card-text text-dark '>{{post.body}}</p>
        </div>
        <div class="card-footer">
            <a href="{% url 'post_edit' post.pk %}" class="btn btn-primary">Edit post</a>
            <a href="{% url 'post_delete' post.pk %}" class="btn btn-primary">Delete post</a>
        </div>
      </div> 
    {% endfor %}
    {% endblock content%}
</body>
</html>